# Compiled python modules
*.pyc

# Jupyter notebook
.ipynb_checkpoints

# Notes
NOTES.md

# Local folders
__pycache__/
archive/
admin/
issue/
literature/
MTA_GTFS/
presentation/
repo_Bus-Bunching_master_pksohn/
repo_Monitoring-Bus-Arrivals-for-Headway-Control-Strategies_master_BUILTNYU/
test_dashboard/
